html {
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    background-color:darkgreen;
}

body {
    width: 1500px;
    margin: 0 auto;
    background-color:cornsilk;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
  }

  h1 {
    margin: 0;
    padding: 20px 0;
    color: #00c800;
    text-shadow: 3px 3px 1px black;
    font-size: 60px;
    text-align: center;
  }

  img {
    display: block;
    margin: 0 auto;
  }